/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
footer {
    text-align: center;
}

:root {
    font-size: 16px;
}

h1 {
    text-align: center;
}

#vue1 {
    background-color: rgb(0,53,100);
    width: 80rem;
    height: 50rem;
    padding-left: 0;
    padding-right: 0;
    margin-right: 5rem;
    margin-left: 5rem;
}

.flex-container-1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.flex-element {
    background-color: green;
    width: 11.5rem;
    height: 3.5rem;
    margin: 2px;
    line-height: 2rem;
    font-size: 0.75rem;
    border-radius: 0.54rem;
    display: flex;
    border: 0.19rem solid black;
}

#searchBtn {
    height: 100%;
    width: 100%;
}