#top {
    background-color: rgb(0,53,100);
    width: 100rem;
    padding-left: 0;
    padding-right: 0;
    margin-right: 5rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

#row-1-t {
    height: 22rem;
    width: 100rem;
    margin-left: 0rem;
    margin-right: 0rem;
    background-color: rgb(255,255,255);

}

.flex-container-1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.flex-element {
    background-color: white;
    width: 11.5rem;
    height: 3.5rem;
    margin: 2px;
    line-height: 2rem;
    font-size: 0.75rem;
    border-radius: 0.54rem;
    display: flex;
    border: 0.19rem solid black;
}